<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nEaR</title>

    <style>
        
        .card_holder__container{
            display: flex;
            flex-flow: wrap;
        }

        .card_holder{

        }

        .card_holder__item{
            width: 300px;
            max-height: 500px;
            border-radius: 15px;
            border: 1px solid;
            padding: 15px;
            overflow: auto;
        }

       
    
    </style>


</head>

<body>

    <div id="app-5">
        <!-- <p>{{ message }}</p> -->
        <button v-on:click="reverseMessage">Start nEaR</button>
        
        <section class="card_holder__container">
            <div v-for="item in extract" class="card_holder">
                <div class="card_holder__item"> {{item}}</div>
            </div>
        </section>
        

    </div>

    

    <div id="app-7">
        <ol v-if="answer">
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/vue/app.js"></script>

</body>

</html>